b11 BITMAP "11.bmp"
b12 BITMAP "12.bmp"
b13 BITMAP "13.bmp"
b14 BITMAP "14.bmp"
b15 BITMAP "15.bmp"
b21 BITMAP "21.bmp"
b22 BITMAP "22.bmp"
b23 BITMAP "23.bmp"
b24 BITMAP "24.bmp"
b25 BITMAP "25.bmp"
b31 BITMAP "31.bmp"
b32 BITMAP "32.bmp"
b33 BITMAP "33.bmp"
b34 BITMAP "34.bmp"
b35 BITMAP "35.bmp"
b41 BITMAP "41.bmp"
b42 BITMAP "42.bmp"
b43 BITMAP "43.bmp"
b44 BITMAP "44.bmp"
b45 BITMAP "45.bmp"
b51 BITMAP "51.bmp"
b52 BITMAP "52.bmp"
b53 BITMAP "53.bmp"
b54 BITMAP "54.bmp"
b55 BITMAP "55.bmp"
b61 BITMAP "61.bmp"
b62 BITMAP "62.bmp"
b63 BITMAP "63.bmp"
b64 BITMAP "64.bmp"
b65 BITMAP "65.bmp"
b71 BITMAP "71.bmp"
b72 BITMAP "72.bmp"
b73 BITMAP "73.bmp"
b74 BITMAP "74.bmp"
b75 BITMAP "75.bmp"
b81 BITMAP "81.bmp"
b82 BITMAP "82.bmp"
b83 BITMAP "83.bmp"
b84 BITMAP "84.bmp"
b85 BITMAP "85.bmp"
b91 BITMAP "91.bmp"
b92 BITMAP "92.bmp"
b93 BITMAP "93.bmp"
b94 BITMAP "94.bmp"
b95 BITMAP "95.bmp"
nok BITMAP "nok.bmp"
b12h BITMAP "12h.bmp"
b12v BITMAP "12v.bmp"
b22h BITMAP "22h.bmp"
b22v BITMAP "22v.bmp"
b32h BITMAP "32h.bmp"
b32v BITMAP "32v.bmp"
b42h BITMAP "42h.bmp"
b42v BITMAP "42v.bmp"
b52h BITMAP "52h.bmp"
b52v BITMAP "52v.bmp"
b62h BITMAP "62h.bmp"
b62v BITMAP "62v.bmp"
b72h BITMAP "72h.bmp"
b72v BITMAP "72v.bmp"
b82h BITMAP "82h.bmp"
b82v BITMAP "82v.bmp"
b92h BITMAP "92h.bmp"
b92v BITMAP "92v.bmp"
eh BITMAP "eh.bmp"
ev BITMAP "ev.bmp"