D1 BITMAP "nowagra3.bmp"
E1 BITMAP "nowagra2.bmp"
L1 BITMAP "nowagra.bmp"
D2 BITMAP "otworz3.bmp"
E2 BITMAP "otworz2.bmp"
L2 BITMAP "otworz.bmp"
D3 BITMAP "zapisz3.bmp"
E3 BITMAP "zapisz2.bmp"
L3 BITMAP "zapisz.bmp"
D4 BITMAP "wynik3.bmp"
E4 BITMAP "wynik2.bmp"
L4 BITMAP "wynik.bmp"
D5 BITMAP "ustawienia3.bmp"
E5 BITMAP "ustawienia2.bmp"
L5 BITMAP "ustawienia.bmp"
D6 BITMAP "ukryj3.bmp"
E6 BITMAP "ukryj2.bmp"
L6 BITMAP "ukryj.bmp"
D7 BITMAP "cofnij3.bmp"
E7 BITMAP "cofnij2.bmp"
L7 BITMAP "cofnij.bmp"
D8 BITMAP "informacja3.bmp"
E8 BITMAP "informacja2.bmp"
L8 BITMAP "informacja.bmp"
D9 BITMAP "pomoc3.bmp"
E9 BITMAP "pomoc2.bmp"
L9 BITMAP "pomoc.bmp"
D10 BITMAP "minimalizuj3.bmp"
E10 BITMAP "minimalizuj2.bmp"
L10 BITMAP "minimalizuj.bmp"
D11 BITMAP "wyjscie3.bmp"
E11 BITMAP "wyjscie2.bmp"
L11 BITMAP "wyjscie.bmp"
OKD BITMAP "ok3.bmp"
OKE BITMAP "ok2.bmp"
OKL BITMAP "ok.bmp"
AND BITMAP "anuluj3.bmp"
ANE BITMAP "anuluj2.bmp"
ANL BITMAP "anuluj.bmp"
CHECK0 BITMAP "check0.bmp"
CHECK1 BITMAP "check1.bmp"