plansza BITMAP "plansza.bmp"
siatka BITMAP "siatka.bmp"
okienko BITMAP "okienko.bmp"
okienko2 BITMAP "okienko2.bmp"
hint BITMAP "hint.bmp"
pusty BITMAP "pusty.bmp"
pustylg BITMAP "pustylg.bmp"
pustypg BITMAP "pustypg.bmp"
pustyld BITMAP "pustyld.bmp"
pustypd BITMAP "pustypd.bmp"