DD BITMAP "dd.bmp"
DU BITMAP "du.bmp"
DG BITMAP "dg.bmp"
UD BITMAP "ud.bmp"
UU BITMAP "uu.bmp"
UG BITMAP "ug.bmp"
LD BITMAP "ld.bmp"
LU BITMAP "lu.bmp"
LG BITMAP "lg.bmp"
RD BITMAP "rd.bmp"
RU BITMAP "ru.bmp"
RG BITMAP "rg.bmp"